.Weather input {
    border: 1px solid;
    padding: 1em;
    font-size: 1em;
    margin: 0;
    border-radius: 0.5em 0 0 0.5em;
  }
  
.Weather Button {
    border: 1px solid;
    padding: 1em;
    font-size: 1em;
    margin: 0;
    background-color: rgb(48, 115, 177);
    color:aliceblue;
    border-radius: 0 0.5em 0.5em 0 ;
  }

 